/* css Style Sheet for Crazy Bob */

/*Global Style */
body{
    background-color: antiquewhite;
    margin:0; 
    padding:0;
}

div#container{
    background-color:bisque;
    width:1024px;
    /* Centers the Container */
    margin:auto;
}

header{
    background-image: url('/images/studies-banner.jpg');
    background-size:1200px;
    background-color:tan;
    width:100%;
    height:150px;
    margin:0;
}

header h1{
    text-align: center;
    padding-top: 50px;
    color:cornsilk;
    text-shadow:1px 1px 1px black;
    margin:0;
    


    font-family: 'Encode Sans Expanded', sans-serif;
    font-family: 'Gilda Display', serif;
    font-family: 'Kurale', serif;

font-size: 60px;
}

nav{
    width:100%;
    background-color:brown;
    clear:both;
    margin:0;
    color:white;
    font-family:'monaco', sans-serif;
    font-size: 17px;
    box-shadow: 1px 1px 50px white;
}

nav ul{
    margin:0;
    padding:0;
    list-style: none;
    overflow:hidden;
}

nav ul li{
    float:left;
}

nav ul li a{
    display: block;
    color:white;
    text-align: center;
    text-decoration:none;
    padding:14px 16px;
}

nav ul li a:hover{
    background-color: rosybrown;
}

.active{
    background-color: indianred;
}

footer{
    width:100%;
    background-color: indianred;
    color: white;
    text-align: center;
    margin:20px 1;
    border: dotted;
    
}

.keepOpen{
    clear:both;
}

/*index.html*/
img#home-img{
    width:400px;
    display:block;
    margin:5px;
    border: white dashed 10px; 
    float:left;
}


h2#h2-home{
    float:left;
    margin-top:10px;
    margin-bottom:0;
    font-family: 'Gilda Display', serif;
}

p#p-home{
    float:left;
    width:58%;
    margin-top:10px;
    font-family: 'Encode Sans Expanded', sans-serif;
}

/*about.html*/
img#bob_img{
    width:400px;
    display:block;
    margin:5px;
    border: white dashed 10px; 
    float:left;
}

h2#h2-about{
    float:left;
    margin-top:10px;
    margin-bottom: 0;
    font-family: 'Gilda Display', serif;
}

p#p-about{
    float:left;
    width:58%;
    margin-top:10px; 
    font-family: 'Encode Sans Expanded', sans-serif;
}

/*produce.html*/
div#gallery{
    width:99%;
    border:5px dashed white;
}

figure{
    width:257px;
    float:left;
    background-color: ghostwhite;
    box-shadow:1px 1px 10px black;
     background: -moz-linear-gradient(red, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffffff, cornsilk); /* Standard syntax */
    margin:  10px 40px;
}

figure img{
    display:block;
    width:200px;
    height: 150px;
    margin:20px auto;
    border:5px dashed indianred;
}

figcaption{
    text-align:center;
    padding:10px 0;
    padding-bottom: 10px;
    font-family:fantasy;
    font-size: 18px;
    border
}

p#p-produce{
    font-family: 'Encode Sans Expanded', sans-serif;
}














