/* Stylesheet for social media website */

/*CSS RESET */
html, body, div, header, h1, h2, h3, h4, h5, h6, nav, ul, ol, li, p, footer{
    margin: 0;
    padding: 0;
}
html{
    min-height: 100%;
}

body{
    background-color: #ba5151;
    font-family: sans-serif;
    background: #a90329;
background: -moz-linear-gradient(top, #a90329 0%, #8f0222 50%, #870002 100%); 
background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 50%,#870002 100%); 
background: linear-gradient(to bottom, #a90329 0%,#8f0222 50%,#870002 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c41b1e', endColorstr='#870002',GradientType=0 ); 
}

div#container{
    display: flex;
    flex-flow: column;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: indianred;
    max-width: 1024px;
    width: 80%;
    margin: auto; 
}

header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #a74747;
    width: 100%;
    height:300px;
}

header img#profile_img{
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 100%; 
    background-color: #fcfcfc;
    align-self: flex-end;
    margin-left: 16px;
}

header div#profile_info{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: flex-end;
    margin-left: 32px;
}

div#profile_info h2{
    width: 100%;
    order; 1;
    font-size: 2em;
}

div#profile_info h4{
    width: 100%; 
    order: 2;
    font-size: 1em;
}
/* Nav Start*/
nav{
    order: 1;
    width: 10%;
    margin:10px 0 0 90px;
    align-content: flex-start;
}

nav ul{
    list-style: none;
}

nav li{
    
}

nav li a{
    text-decoration: none;
    font-family: sans-serif;
    color:black;
}

nav li a:hover{
    color: lightyellow;
}
/* Nav End*/

div#content{
    width: 75%;
    order: 2;
}

div#content div.post{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin:8px auto;
    width: 90%;
    height: auto;
    background-color: #fcfcfc;
    box-shadow: 2px 2px 2px #674141;
}

div#content div.post img.ppp{
    display: block;
    order: 1;
    margin: 6px;
    background-color: lightyellow;
    width: 90px;
    height: 90px;
    border: 100%;
}

div#content div.post_info{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    order: 2;
    width: 80%;
}

div#content div.post div.post_info h3.pnp{
    order:1;
    width: 80%;
    height: 10%;
    margin: 6px;
}

div#content div.post div.post_info p.time_stamp{
    order: 2;
    font-size: 0.65em;
    font-weight: 600;
    color: black;
    margin: 6px;
}

div#content div.post div.post_foot{
    display: flex;
    flex-direction: column;
    order: 3;
    width: 100%; 
}

div#content div.post div.post_foot div.p_likes{
    order: 1;
    margin: 6px;
    color:gray;
}

div#content div.post div.post_foot div.p_likes .like{
    width: 32px;
}

/* Comment Pic*/
div#content div.post div.post_foot div.p_comments{
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    order: 2;
    margin: 6px;
}

/* Comment Title H5 */

div#content div.post div.post_foot div.p_comments h5{
    display: flex;
    /*flex-grow: 1;*/
    /*flex:1;*/
    flex-wrap: wrap;
    order: 1;
}

div#content div.post div.post_foot div.p_comments .com_pic{
    display:flex;
    border-radius:100px;
    width:50px;
    height: 50px;
    order:2;
}
/* Comment Paragraph */
div#content div.post div.post_foot div.p_comments .com_p{
    order:3;
}

footer{
    order: 4; /*3?*/
    background-color: indianred;
    text-align: center;
    width: 100%;
    margin: 12px auto;
    color:white;
}

/* EDIT THE LIKE SIZE */


