/*Style for Alejandra's Blog website */

/* Reset */
html,body,div,h1,h2,h3,h4,h5,h6,p,ul,ol,li
{
    margin: 0;
    padding: 0;
}

/* Universal Style */

body{
    background-color: #cbe4fa;
}


div#container{
    display:flex;
    flex-direction: column;
    background-color: #79a0c7;
    margin:auto;
    width:100%;
}

header#blog-head{
    display: flex;
    justify-content: center;
    width:100%;
    height:300px; 
    font-family: sans-serif;
    background-color: #79a0c7;
    text-align: center;
}

header h1{
    align-self: center;
    color:aliceblue;
}



/* Blog Post */
div#blog-post{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 15px 0;
    padding: 10px;
    background-color: #a7c7e2;
    box-shadow: 3px 3px 3px #365676;
}

img#post-img{
    align-self: flex-start;
    display:block;
    width:150px;
    height:150px;
    margin: 5px;
    background-color: #79a0c7;
    border:
}
div#post-body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin:0 5px;
    font-family: 'Cabin', sans-serif;
}

p#post-text{
    font-size: 1.15em;
    color:aliceblue;
}

h3#post-title{
    align-self: auto;
    color:#dcf0ff;
    font-size: 1.5em;
}

h5#post-stamp{
    color:aliceblue;
}

video#post-video{
    width: auto;
    height: auto;
}



footer{
    color:aliceblue;
}